<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Listener Example">

	<listeners>
		<listener class-name="com.TestNGListeners.Listener" />
	</listeners>

	<test name="Test">
		<classes>
			<class name="com.TestNGListeners.SampleTest" />
		</classes>
	</test>
</suite> 
